@media (max-width: 768px) {
    header {
        height: 80vh;

        h2 {
            font-size: 45px;
            top: 250px;
        }

        i {
            top: 500px;
        }
    }

    article {
        .botones1 {
            display: flex;
            justify-content: center;
        }
    }

    section {
        .row {
            text-align: center;

            img {
                margin-bottom: -60px;
            }
        }
    }
}