article {
    button {
        .btn {
            border-radius: 40%;
        }
    }
}

section {
    img {
        border-radius: 50%;
        width: 180px;
        height: 180px;
        border: 1px solid #707070;
    }
}